{% load static %}

        <footer class="page-footer grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">

              </div>
            </div>
          </div>
          <div class="footer-copyright grey darken-2">
            <div class="container">
            © 2018 Consortium, E-Cell, VNIT
            <a class="grey-text text-lighten-4 right" href="http://prisag.xyz" target="_blank">PriSaG.xYz</a>
            </div>
          </div>
        </footer>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>