<!DOCTYPE html>
{% load static %}
<head>

    <!-- Basic -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Consortium'18 | E-CELL, VNIT</title>
        <meta name="keywords" content="Ecell vnit E-cell VNIT entreprenuship cell consortium 18 2018 consortium'18 vnit consortium " />
        <meta name="description" content="Consortium'18 E-CELL VNIT annual entrepreneurship summit">
        <meta name="author" content="Sagar Bansal">

      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css'%}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}"/>


      <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'images/icon.png'%}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{% static 'images/icon.png'%}">
</head>

