<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team</title>
</head>
<body>
<form action="/teams/{{team.team_id}}/vote/" method="post">
    <ul>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% if questions is not None %}

            {% for question in questions %}
                <li>
                    <h1>{{ question.question_text }}</h1>

                    {% csrf_token %}
                    {% for choice in question.choice_set.all %}
                        <input type="radio" name={{question.question_id}} id="choice{{ forloop.counter }}" value={{ choice.choice_id }} />
                        <label for="{{question.question_id}}{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
                    {% endfor %}
                </li>
            {% endfor %}
        {% else %}
            <p>No questions are available.</p>
        {% endif %}
    </ul>
    <input type="submit" value="Vote" />
</form>
</body>
</html>